In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in data file and make into a dataframe
purchase_df = pd.read_csv("../Resources/purchase_data.csv")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#display total number of players
players = purchase_df["SN"].unique()
total_players = len(players)
print(f"The total number of players is {total_players}")

The total number of players is 576

In [4]:
# Number of unique items
items = purchase_df["Item Name"].unique()
total_items = len(items)
#average price per item
avg_calc = purchase_df["Price"].mean()
avg_price = "${:,.2f}".format(avg_calc)
#Number of purchases
num_purchase = purchase_df["Price"].count()#Total revenue
rev_calc = purchase_df["Price"].sum()
tot_rev = "${:,.2f}".format(rev_calc)

In [5]:
#Summary Dataframe
table = [{"Number of Unique Items":total_items, "Average Price": avg_price, "Number of Purchases":num_purchase, "Total Revenue":tot_rev}]
sum_df = pd.DataFrame(table)
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
#Percentage and count of players
gender = purchase_df["Gender"].value_counts()
gender_df = pd.DataFrame(gender)
gender_df_new = gender_df.rename(columns={"Gender":"Total Count"})
gender_df_new["Percentage of Players"] = (gender_df_new["Total Count"]/gender_df_new["Total Count"].sum())*100
#pd.options.display.float_format = '{:.2f}%'.format
gender_df_new

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077

In [10]:
# Purchasing Analysis (Gender)
gender_group_df= purchase_df.groupby(["Gender"])
gender_group_df.count()
gender_price = gender_group_df["Price"].mean()
gender_group_df.count()
#gender_group_df["Average Purchase Price"] = gender_price
#gender_group_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15