In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in data file and make into a dataframe
purchase_df = pd.read_csv("../Resources/purchase_data.csv")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#display total number of players
players = purchase_df["SN"].unique()
total_players = len(players)
print(f"The total number of players is {total_players}")

The total number of players is 576

In [4]:
# Number of unique items
items = purchase_df["Item Name"].unique()
total_items = len(items)
#average price per item
avg_calc = purchase_df["Price"].mean()
avg_price = "${:,.2f}".format(avg_calc)
#Number of purchases
num_purchase = purchase_df["Price"].count()#Total revenue
rev_calc = purchase_df["Price"].sum()
tot_rev = "${:,.2f}".format(rev_calc)

In [5]:
#Summary Dataframe
table = [{"Number of Unique Items":total_items, "Average Price": avg_price, "Number of Purchases":num_purchase, "Total Revenue":tot_rev}]
sum_df = pd.DataFrame(table)
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [13]:
#Percentage and count of players

gender_group = purchase_df.groupby("SN")["Gender"].value_counts()
gender_count = gender_group.count("Gender")
gender_df = pd.DataFrame(gender_count)
gender_df_new = gender_df.rename(columns={"Gender":"Total Count"})
gender_df_new["Percentage of Players"] = (gender_df_new["Total Count"]/gender_df_new["Total Count"].sum())*100
gender_df_new["Percentage of Players"] = gender_df_new["Percentage of Players"].map('{:,.2f}%'.format)
gender_df_new

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [7]:
# Purchasing Analysis (Gender)
gender_group1= purchase_df.groupby("Gender")["Purchase ID"].count()
gender_group2= purchase_df.groupby("Gender")["Price"].mean()
gender_group2 = gender_group2.rename("Average Purchase Price") 
gender_group3= purchase_df.groupby("Gender")["Price"].sum()
gender_group3 = gender_group3.rename("Total Purchase Value") 
avg_purchase_price = purchase_df.groupby(["Gender","SN"]).sum()
avg_tot_purchase = avg_purchase_price.groupby("Gender")["Price"].mean()
avg_tot_purchase= avg_tot_purchase.rename("Avg Total Purchase per Person") 
gender_tot_df =pd.concat([gender_group1, gender_group2,gender_group3,avg_tot_purchase], axis = 1)
gender_tot_df['Average Purchase Price'] = gender_tot_df['Average Purchase Price'].map('${:,.2f}'.format)
gender_tot_df['Total Purchase Value'] = gender_tot_df['Total Purchase Value'].map('${:,.2f}'.format)
gender_tot_df['Avg Total Purchase per Person'] = gender_tot_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
gender_tot_df

,Purchase ID,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [33]:
#Age Demographics
bins = [0, 9, 14, 19, 24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels = group_names, include_lowest = True)

age_group = purchase_df.groupby("SN")["Age Group"].value_counts()
age_group_df = age_group.count("Age Group")
age_group_df = pd.DataFrame(age_group_df)
# age_group_df["Percentage of Players"] = (age_group_df["Age Group"]/age_group_df["SN"].sum())*100
# age_df_final = age_group_df[["Purchase ID","Percentage of Players"]]
# age_df_final = age_df_final.rename(columns = {"Purchase ID": "Total Count"})
# age_df_final["Percentage of Players"] = age_df_final["Percentage of Players"].map('{:,.2f}%'.format)
age_df_final
age_group_df

           Age Group
Age Group
10-14             22
15-19            107
20-24            258
25-29             77
30-34             52
35-39             31
40+               12
<10               17

In [34]:
#Purchasing Analysis (Age)
purchase_df
age_purchase_count = purchase_df.groupby("Age Group")["Price"].count()
age_purchase_count = age_purchase_count.rename("Purchase Count")
age_avg_purchase = purchase_df.groupby("Age Group")["Price"].mean()
age_avg_purchase = age_avg_purchase.rename("Average Purchase Price")
age_tot_purchase = purchase_df.groupby("Age Group")["Price"].sum()
age_tot_purchase = age_tot_purchase.rename("Total Purchase Value")
avg_purchase_price_age = purchase_df.groupby(["Age Group","SN"]).sum()
age_avg_tot_person = avg_purchase_price_age.groupby("Age Group")["Price"].mean()
age_avg_tot_person = age_avg_tot_person.rename("Avg Total Purchase per Person")
age_tot_df =pd.concat([age_purchase_count, age_avg_purchase,age_tot_purchase,age_avg_tot_person], axis = 1)
age_tot_df['Average Purchase Price'] = age_tot_df['Average Purchase Price'].map('${:,.2f}'.format)
age_tot_df['Total Purchase Value'] = age_tot_df['Total Purchase Value'].map('${:,.2f}'.format)
age_tot_df['Avg Total Purchase per Person'] = age_tot_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
age_tot_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
# Top Spenders
tot_spend = purchase_df.groupby("SN")["Price"].sum()

top_spend = tot_spend.sort_values(ascending=False)
#Drop all all rows except top 5 spenders
#source: https://stackoverflow.com/questions/34641056/removing-elements-from-pandas-series-in-python
top_spend = top_spend.drop(top_spend.index[5:])

#find top spenders in original dataframe
number1_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[0], :]
number2_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[1], :]
number3_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[2], :]
number4_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[3], :]
number5_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[4], :]

Names =[top_spend.index[0],top_spend.index[1],top_spend.index[2],top_spend.index[3],top_spend.index[4]]
Names = pd.Series(Names)
Names = Names.rename("Names")

#find top spenders purchase count
num1_count = number1_df["Purchase ID"].count()
num2_count= number2_df["Purchase ID"].count()
num3_count= number3_df["Purchase ID"].count()
num4_count= number4_df["Purchase ID"].count()
num5_count= number5_df["Purchase ID"].count()
Top_purchase_ct = [num1_count,num2_count,num3_count,num4_count,num5_count]
Top_purchase_ct = pd.Series(Top_purchase_ct)
Top_purchase_ct = Top_purchase_ct.rename("Purchase Count")

#Find avg purchase price
num1_avg = number1_df["Price"].mean()
num2_avg = number2_df["Price"].mean()
num3_avg = number3_df["Price"].mean()
num4_avg = number4_df["Price"].mean()
num5_avg = number5_df["Price"].mean()
Top_purchase_avg = [num1_avg,num2_avg,num3_avg,num4_avg,num5_avg]
Top_purchase_avg = pd.Series(Top_purchase_avg)
Top_purchase_avg = Top_purchase_avg.rename("Average Purchase Price")

#Find Total Purchase Value
num1_tot = top_spend[0]
num2_tot = top_spend[1]
num3_tot = top_spend[2]
num4_tot = top_spend[3]
num5_tot = top_spend[4]
Top_purchase_tot = [num1_tot,num2_tot,num3_tot,num4_tot,num5_tot]
Top_purchase_tot = pd.Series(Top_purchase_tot)
Top_purchase_tot = Top_purchase_tot.rename("Total Purchase Value")

#Add the series together to make final dataframe
top_spend_df =pd.concat([Names,Top_purchase_ct,Top_purchase_avg,Top_purchase_tot], axis = 1)
#format currency
top_spend_df['Average Purchase Price'] = top_spend_df['Average Purchase Price'].map('${:,.2f}'.format)
top_spend_df['Total Purchase Value'] = top_spend_df['Total Purchase Value'].map('${:,.2f}'.format)
#reset index to names column
top_spend_df.set_index('Names')

             Purchase Count Average Purchase Price Total Purchase Value
Names
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [11]:
#Most Popular Items

pop_item = purchase_df.groupby(["Item ID","Item Name"])["Purchase ID"].count()
pop_item_sorted = pop_item.sort_values(ascending=False)
#put the item ID and item Name in a series 
pop_item1 = pd.Series(pop_item_sorted.index[0])
pop_item2 = pd.Series(pop_item_sorted.index[1])
pop_item3 = pd.Series(pop_item_sorted.index[2])
pop_item4 = pd.Series(pop_item_sorted.index[3])
pop_item5 = pd.Series(pop_item_sorted.index[4])

#item ID
item_ID1 = pop_item1[0]
item_ID2 = pop_item2[0]
item_ID3 = pop_item3[0]
item_ID4 = pop_item4[0]
item_ID5 = pop_item5[0]
Items_ID = [item_ID1, item_ID2, item_ID3, item_ID4, item_ID5]
Items_ID = pd.Series(Items_ID)
Items_ID = Items_ID.rename("Item ID")

#item Name
item_name1 = pop_item1[1]
item_name2 = pop_item2[1]
item_name3 = pop_item3[1]
item_name4 = pop_item4[1]
item_name5 = pop_item5[1]
Names_items = [item_name1, item_name2, item_name3, item_name4, item_name5]
Names_items= pd.Series(Names_items)
Names_items = Names_items.rename("Item Name")

#find top items in original dataframe
item1_df = purchase_df.loc[purchase_df["Item Name"] == pop_item1[1], :]
item2_df = purchase_df.loc[purchase_df["Item Name"] == pop_item2[1], :]
item3_df = purchase_df.loc[purchase_df["Item Name"] == pop_item3[1], :]
item4_df = purchase_df.loc[purchase_df["Item Name"] == pop_item4[1], :]
item5_df = purchase_df.loc[purchase_df["Item Name"] == pop_item5[1], :]

#find top items purchase count
item1_count = item1_df["Purchase ID"].count()
item2_count = item2_df["Purchase ID"].count()
item3_count = item3_df["Purchase ID"].count()
item4_count = item4_df["Purchase ID"].count()
item5_count = item5_df["Purchase ID"].count()
Top_item_ct = [item1_count,item2_count,item3_count, item4_count, item5_count]
Top_item_ct = pd.Series(Top_item_ct)
Top_item_ct = Top_item_ct.rename("Purchase Count")

#Find item price
item1_avg = item1_df["Price"].mean() 
item2_avg = item2_df["Price"].mean() 
item3_avg = item3_df["Price"].mean() 
item4_avg = item4_df["Price"].mean() 
item5_avg = item5_df["Price"].mean() 
Top_item_avg = [item1_avg, item2_avg, item3_avg, item4_avg, item5_avg]
Top_item_avg = pd.Series(Top_item_avg)
Top_item_avg = Top_item_avg.rename("Item Price")

#Find total purchase value
item1_tot = item1_df["Price"].sum() 
item2_tot = item2_df["Price"].sum() 
item3_tot = item3_df["Price"].sum() 
item4_tot = item4_df["Price"].sum() 
item5_tot = item5_df["Price"].sum() 
Top_item_tot = [item1_tot,item2_tot,item3_tot,item4_tot,item5_tot]
Top_item_tot = pd.Series(Top_item_tot)
Top_item_tot = Top_item_tot.rename("Total Purchase Value")

#Add all created series into a DataFrame
top_item_df = pd.concat([Items_ID, Names_items,Top_item_ct,Top_item_avg,Top_item_tot], axis = 1)
#Format the price columns
top_item_df['Item Price'] = top_item_df['Item Price'].map('${:,.2f}'.format)
top_item_df['Total Purchase Value'] = top_item_df['Total Purchase Value'].map('${:,.2f}'.format)
#Use Item ID and Item Name as indices
top_item_df.set_index(["Item ID", "Item Name"])

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99
82,Nirvana,9,$4.90,$44.10

In [12]:
# Most Profitable Items

prof_item = purchase_df.groupby(["Item ID","Item Name"])["Price"].sum()
prof_item_sorted = prof_item.sort_values(ascending=False)
# #put the item ID and item Name in a series 
prof_item1 = pd.Series(prof_item_sorted.index[0])
prof_item2 = pd.Series(prof_item_sorted.index[1])
prof_item3 = pd.Series(prof_item_sorted.index[2])
prof_item4 = pd.Series(prof_item_sorted.index[3])
prof_item5 = pd.Series(prof_item_sorted.index[4])

#item ID
prof_item_ID1 = prof_item1[0]
prof_item_ID2 = prof_item2[0]
prof_item_ID3 = prof_item3[0]
prof_item_ID4 = prof_item4[0]
prof_item_ID5 = prof_item5[0]
Prof_Items_ID = [prof_item_ID1, prof_item_ID2, prof_item_ID3, prof_item_ID4, prof_item_ID5]
Prof_Items_ID= pd.Series(Prof_Items_ID)
Prof_Items_ID = Prof_Items_ID.rename("Item ID")

#item Name
prof_item_name1 = prof_item1[1]
prof_item_name2 = prof_item2[1]
prof_item_name3 = prof_item3[1]
prof_item_name4 = prof_item4[1]
prof_item_name5 = prof_item5[1]
Prof_Names_items = [prof_item_name1, prof_item_name2, prof_item_name3, prof_item_name4, prof_item_name5]
Prof_Names_items= pd.Series(Prof_Names_items)
Prof_Names_items = Prof_Names_items.rename("Item Name")

#find most profitable items in original dataframe
prof_item1_df = purchase_df.loc[purchase_df["Item Name"] == prof_item1[1], :]
prof_item2_df = purchase_df.loc[purchase_df["Item Name"] == prof_item2[1], :]
prof_item3_df = purchase_df.loc[purchase_df["Item Name"] == prof_item3[1], :]
prof_item4_df = purchase_df.loc[purchase_df["Item Name"] == prof_item4[1], :]
prof_item5_df = purchase_df.loc[purchase_df["Item Name"] == prof_item5[1], :]

#find most profitable items purchase count
prof_item1_count = prof_item1_df["Purchase ID"].count()
prof_item2_count = prof_item2_df["Purchase ID"].count()
prof_item3_count = prof_item3_df["Purchase ID"].count()
prof_item4_count = prof_item4_df["Purchase ID"].count()
prof_item5_count = prof_item5_df["Purchase ID"].count()
Prof_item_ct = [prof_item1_count,prof_item2_count,prof_item3_count, prof_item4_count, prof_item5_count]
Prof_item_ct = pd.Series(Prof_item_ct)
Prof_item_ct = Prof_item_ct.rename("Purchase Count")

#Find item price
prof_item1_avg = prof_item1_df["Price"].mean() 
prof_item2_avg = prof_item2_df["Price"].mean() 
prof_item3_avg = prof_item3_df["Price"].mean() 
prof_item4_avg = prof_item4_df["Price"].mean() 
prof_item5_avg = prof_item5_df["Price"].mean() 
Prof_item_avg = [prof_item1_avg, prof_item2_avg, prof_item3_avg, prof_item4_avg, prof_item5_avg]
Prof_item_avg  = pd.Series(Prof_item_avg )
Prof_item_avg = Prof_item_avg .rename("Item Price")

#Find total purchase value
prof_item1_tot = prof_item1_df["Price"].sum() 
prof_item2_tot = prof_item2_df["Price"].sum() 
prof_item3_tot = prof_item3_df["Price"].sum() 
prof_item4_tot = prof_item4_df["Price"].sum() 
prof_item5_tot = prof_item5_df["Price"].sum() 
Prof_item_tot = [prof_item1_tot,prof_item2_tot,prof_item3_tot,prof_item4_tot,prof_item5_tot]
Prof_item_tot = pd.Series(Prof_item_tot)
Prof_item_tot = Prof_item_tot.rename("Total Purchase Value")

#Add all created series into a DataFrame
prof_item_df = pd.concat([Prof_Items_ID, Prof_Names_items,Prof_item_ct,Prof_item_avg,Prof_item_tot], axis = 1)
#Format the price columns
prof_item_df['Item Price'] = prof_item_df['Item Price'].map('${:,.2f}'.format)
prof_item_df['Total Purchase Value'] = prof_item_df['Total Purchase Value'].map('${:,.2f}'.format)
#Use Item ID and Item Name as indices
prof_item_df.set_index(["Item ID", "Item Name"])

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80