In [12]:
#import dependencies
import pandas as pd

In [13]:
#read in data file and make into a dataframe
purchase_df = pd.read_csv("../Resources/purchase_data.csv")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
# Player Count

#find unique players based on SN and put in an array
players = purchase_df["SN"].unique()

#count the length of the array to get number of unique SNs
total_players = len(players)
print(f"The total number of players is {total_players}")

The total number of players is 576

In [15]:
#Purchasing Analysis (Total)

#Number of unique items
items = purchase_df["Item Name"].unique()
total_items = len(items)
#average price per item
avg_calc = purchase_df["Price"].mean()
avg_price = "${:,.2f}".format(avg_calc)
#Number of purchases
num_purchase = purchase_df["Price"].count()
#Total revenue
rev_calc = purchase_df["Price"].sum()
tot_rev = "${:,.2f}".format(rev_calc)

#Summary Dataframe
table = [{"Number of Unique Items":total_items, "Average Price": avg_price, "Number of Purchases":num_purchase, "Total Revenue":tot_rev}]
sum_df = pd.DataFrame(table)
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [16]:
#Gender Demographics

#group by SN and find individual Gender categories
gender_group = purchase_df.groupby("SN")["Gender"].value_counts()
#count number of each gender category
gender_count = gender_group.count("Gender")
#make gender_count into a dataframe
gender_df = pd.DataFrame(gender_count)
gender_df_new = gender_df.rename(columns={"Gender":"Total Count"})
#Find percentage of players in each gender category
gender_df_new["Percentage of Players"] = (gender_df_new["Total Count"]/gender_df_new["Total Count"].sum())*100
#format percentage
gender_df_new["Percentage of Players"] = gender_df_new["Percentage of Players"].map('{:,.2f}%'.format)
gender_df_new

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [17]:
# Purchasing Analysis (Gender)

#groupby Gender and take count of Purchase ID to find Purchase Count
gender_group1= purchase_df.groupby("Gender")["Purchase ID"].count()
gender_group1 = gender_group1.rename("Purchase Count") 
#groupby Gender and take mean of Price to find avg purchase price
gender_group2= purchase_df.groupby("Gender")["Price"].mean()
gender_group2 = gender_group2.rename("Average Purchase Price") 
#groupby Gender and take sum of Price to find total purchase price
gender_group3= purchase_df.groupby("Gender")["Price"].sum()
gender_group3 = gender_group3.rename("Total Purchase Value") 
#groupby Gender and SN, and find avg purchase price per person
avg_purchase_price = purchase_df.groupby(["Gender","SN"]).sum()
avg_tot_purchase = avg_purchase_price.groupby("Gender")["Price"].mean()
avg_tot_purchase= avg_tot_purchase.rename("Avg Total Purchase per Person") 
#Take above series and concat into a DataFrame
gender_tot_df =pd.concat([gender_group1, gender_group2,gender_group3,avg_tot_purchase], axis = 1)
#Format currency
gender_tot_df['Average Purchase Price'] = gender_tot_df['Average Purchase Price'].map('${:,.2f}'.format)
gender_tot_df['Total Purchase Value'] = gender_tot_df['Total Purchase Value'].map('${:,.2f}'.format)
gender_tot_df['Avg Total Purchase per Person'] = gender_tot_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
gender_tot_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
#Age Demographics

#Create bins
bins = [0, 9, 14, 19, 24,29,34,39,100]
#create bin labels
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
# add new column Age Ranges to purchase_df and bin Age data into corresponding bins
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins, labels = group_names, include_lowest = True)
#groupby SN and take count of Age Ranges to make sure no player is double counted
age_group = purchase_df.groupby("SN")["Age Ranges"].value_counts()
#count each instance of Age Ranges
age_group = age_group.count("Age Ranges")
#make age_group into a dataframe
age_group_df = pd.DataFrame(age_group)
#find percentage of players from above dataframe
age_group_df["Percentage of Players"] = (age_group_df["Age Ranges"]/age_group_df["Age Ranges"].sum())*100
age_df_final = age_group_df.rename(columns = {"Age Ranges": "Total Count"})
#Format percentage
age_df_final["Percentage of Players"] = age_df_final["Percentage of Players"].map('{:,.2f}%'.format)
#ensure index is in order shown in group_names
age_df_final.reindex(group_names)

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [19]:
#Purchasing Analysis (Age)

#groupby Age Ranges and take count of Purchase ID column to get Purchase Count
age_purchase_count = purchase_df.groupby("Age Ranges")["Purchase ID"].count()
age_purchase_count = age_purchase_count.rename("Purchase Count")
#groupby Age Ranges and take mean of Price column to get Avg purchase price
age_avg_purchase = purchase_df.groupby("Age Ranges")["Price"].mean()
age_avg_purchase = age_avg_purchase.rename("Average Purchase Price")
#groupby Age Ranges and take sum of Price column to get Total Purchase Value
age_tot_purchase = purchase_df.groupby("Age Ranges")["Price"].sum()
age_tot_purchase = age_tot_purchase.rename("Total Purchase Value")
#groupby Age Ranges and SN 
avg_purchase_price_age = purchase_df.groupby(["Age Ranges","SN"]).sum()
#take grouped SNs and group by Age Ranges and take mean of price to get avg total purchase per person
age_avg_tot_person = avg_purchase_price_age.groupby("Age Ranges")["Price"].mean()
age_avg_tot_person = age_avg_tot_person.rename("Avg Total Purchase per Person")
#take above series and concat into a dataframe
age_tot_df =pd.concat([age_purchase_count, age_avg_purchase,age_tot_purchase,age_avg_tot_person], axis = 1)
#format currency
age_tot_df['Average Purchase Price'] = age_tot_df['Average Purchase Price'].map('${:,.2f}'.format)
age_tot_df['Total Purchase Value'] = age_tot_df['Total Purchase Value'].map('${:,.2f}'.format)
age_tot_df['Avg Total Purchase per Person'] = age_tot_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
age_tot_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [20]:
# Top Spenders

#create needed lists
spender_purchase_ct = []
spender_purchase_avg = []
spender_purchase_tot = []
SN = []
#groupby SN and sum the price column to get total spending by each SN
tot_spend = purchase_df.groupby("SN")["Price"].sum()
#sort the data  from highest spender to lowest spender
top_spend = tot_spend.sort_values(ascending=False)

#create for loop to go through each SN and perform checks
for x in range(len(top_spend)):
    #locate current loop item in purchase_df (original dataframe)
    spender_df = purchase_df.loc[purchase_df["SN"] == top_spend.index[x], :]
    #find name of that spender
    spender_name = top_spend.index[x]
    SN.append(spender_name)
    #find purchase count for that SN
    purchase_count = spender_df["Purchase ID"].count()
    spender_purchase_ct.append(purchase_count)
    #find average purchase price for that SN
    spender_avg = spender_df["Price"].mean()
    spender_purchase_avg.append(spender_avg)
    #find total purchase value for that spender
    spender_tot = top_spend[x]
    spender_purchase_tot.append(spender_tot)

#make all lists into series and rename
spender_purchase_ct = pd.Series(spender_purchase_ct)
spender_purchase_ct = spender_purchase_ct.rename("Purchase Count")
spender_purchase_avg = pd.Series(spender_purchase_avg)
spender_purchase_avg = spender_purchase_avg.rename("Average Purchase Price")
spender_purchase_tot = pd.Series(spender_purchase_tot)
spender_purchase_tot = spender_purchase_tot.rename("Total Purchase Value")
SN = pd.Series(SN)
SN = SN.rename("SN")
#take above series and concat into a dataframe
top_spend_df =pd.concat([SN,spender_purchase_ct,spender_purchase_avg,spender_purchase_tot], axis = 1)
#format currency
top_spend_df['Average Purchase Price'] = top_spend_df['Average Purchase Price'].map('${:,.2f}'.format)
top_spend_df['Total Purchase Value'] = top_spend_df['Total Purchase Value'].map('${:,.2f}'.format)
#reset index to names column
top_spend_df.set_index('SN').head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [21]:
# Most Popular Items

#create needed lists
Items_ID = []
Names_items = []
Top_item_ct = []
Top_item_avg = []
Top_item_tot = []
#groupby Item ID and Item Name, the  count the Purchase ID rows
pop_item = purchase_df.groupby(["Item ID","Item Name"])["Purchase ID"].count()
#sort the data to have highest count to smaller count
pop_item_sorted = pop_item.sort_values(ascending=False)

#create for loop to go through each item and perform checks
for x in range(len(pop_item_sorted)):
    #put the item ID and item Name in a series 
    pop_item = pd.Series(pop_item_sorted.index[x])
    #get item ID from series
    item_ID = pop_item[0]
    Items_ID.append(item_ID)
    #get item name from series
    item_name = pop_item[1]
    Names_items.append(item_name)
    #locate current loop item in purchase_df (original dataframe)
    item_df = purchase_df.loc[purchase_df["Item Name"] == pop_item[1], :]
    #find purchase count for that item
    item_count = item_df["Purchase ID"].count()
    Top_item_ct.append(item_count)
    #find item price for that item
    item_avg = item_df["Price"].mean() 
    Top_item_avg.append(item_avg)
    #find total purchase value for that item
    item_tot = item_df["Price"].sum() 
    Top_item_tot.append(item_tot)

#take above series and concat into a dataframe
Items_ID = pd.Series(Items_ID)
Items_ID = Items_ID.rename("Item ID")
Names_items= pd.Series(Names_items)
Names_items = Names_items.rename("Item Name")
Top_item_ct = pd.Series(Top_item_ct)
Top_item_ct = Top_item_ct.rename("Purchase Count")
Top_item_avg = pd.Series(Top_item_avg)
Top_item_avg = Top_item_avg.rename("Item Price")
Top_item_tot = pd.Series(Top_item_tot)
Top_item_tot = Top_item_tot.rename("Total Purchase Value")

#Add all created series into a DataFrame
top_item_df = pd.concat([Items_ID, Names_items,Top_item_ct,Top_item_avg,Top_item_tot], axis = 1)
#Format the currency
top_item_df['Item Price'] = top_item_df['Item Price'].map('${:,.2f}'.format)
top_item_df['Total Purchase Value'] = top_item_df['Total Purchase Value'].map('${:,.2f}'.format)
#Use Item ID and Item Name as indices
top_item_df.set_index(["Item ID", "Item Name"]).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99
82,Nirvana,9,$4.90,$44.10

In [11]:
#Most Profitable Items

#create needed lists
Prof_Items_ID = []
Prof_Names_items = []
Prof_item_ct = []
Prof_item_avg = []
Prof_item_tot = []
#groupby Item ID and Item Name and sum the Price columnn 
prof_item = purchase_df.groupby(["Item ID","Item Name"])["Price"].sum()
#sort the data from highest price sum to lowest price sum
prof_item_sorted = prof_item.sort_values(ascending=False)

#create for loop to go through each item and perform checks
for x in range(len(prof_item_sorted)):
    #put the item ID and item Name in a series 
    prof_item = pd.Series(prof_item_sorted.index[x])
    #get item ID from series
    prof_item_ID = prof_item[0]
    Prof_Items_ID.append(prof_item_ID)
    #get item name from series
    prof_item_name = prof_item[1]
    Prof_Names_items.append(prof_item_name)
    #locate current loop item in purchase_df (original dataframe)
    prof_item_df = purchase_df.loc[purchase_df["Item Name"] == prof_item[1], :]
    #find purchase count for that item
    prof_item_count = prof_item_df["Purchase ID"].count()
    Prof_item_ct.append(prof_item_count)
    #find item price for that item
    prof_item_avg = prof_item_df["Price"].mean() 
    Prof_item_avg.append(prof_item_avg)
    #find total purchase value for that item
    prof_item_tot = prof_item_df["Price"].sum()
    Prof_item_tot.append(prof_item_tot)

#take above series and concat into a dataframe
Prof_Items_ID = pd.Series(Prof_Items_ID)
Prof_Items_ID = Prof_Items_ID.rename("Item ID")
Prof_Names_items= pd.Series(Prof_Names_items)
Prof_Names_items = Prof_Names_items.rename("Item Name")
Prof_item_ct = pd.Series(Prof_item_ct)
Prof_item_ct = Prof_item_ct.rename("Purchase Count")
Prof_item_avg  = pd.Series(Prof_item_avg )
Prof_item_avg = Prof_item_avg .rename("Item Price")
Prof_item_tot = pd.Series(Prof_item_tot)
Prof_item_tot = Prof_item_tot.rename("Total Purchase Value")

#Add all created series into a DataFrame
prof_item_df = pd.concat([Prof_Items_ID, Prof_Names_items,Prof_item_ct,Prof_item_avg,Prof_item_tot], axis = 1)
#Format currency
prof_item_df['Item Price'] = prof_item_df['Item Price'].map('${:,.2f}'.format)
prof_item_df['Total Purchase Value'] = prof_item_df['Total Purchase Value'].map('${:,.2f}'.format)
#Use Item ID and Item Name as indices
prof_item_df.set_index(["Item ID", "Item Name"]).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80